{% extends "base.html" %}

{% block content %}
<div class="container about-section">
    <div class="about-content">
        <p><strong>¿Qué es Comunidad Verde Uniandina?</strong> <br>Es una plataforma ecológica diseñada para los estudiantes de la Universidad de los Andes, con el objetivo de crear una comunidad comprometida con el medio ambiente. Queremos ser el puente entre ideas verdes, personas apasionadas y oportunidades para transformar nuestro entorno.</p>

        <p><strong>¿Por qué diseñamos esta iniciativa?</strong> <br>Nos motiva la necesidad de generar un cambio significativo en nuestra universidad, creando un espacio donde la sostenibilidad no sea solo un ideal, sino una práctica cotidiana. Expoandes busca inspirar, conectar y educar a través de herramientas interactivas y recursos informativos.</p>

        <p><strong>¿Cuál es el objetivo?</strong> <br>La plataforma está pensada para facilitar la participación en temas ambientales. Explora nuestro contenido, únete a eventos y voluntariados, conecta con personas interesadas en el medio ambiente, y mantente informado sobre iniciativas verdes dentro del campus. 
            Nuestro objetivo Hacer de la Universidad de los Andes un ejemplo de sostenibilidad. Queremos fortalecer la conciencia ambiental, empoderar a las comunidades y fomentar prácticas que respeten y protejan nuestro planeta.</p>

        <p><strong>¿Cómo usar esta página?</strong> <br>Al iniciar sesión, podrá ver su nombre de usuario y número de puntos, (2. logout), (3. My profile), (4. Events), (5. Items), (6. Organizations), (7. Mapa), (8. Add Items), (9. Register Org), (10. Create Event),</p>
    
        <p><strong>Contacto</strong> <br>......................
    </div>
</div>
{% endblock %}