{% extends "index.html" %}

{% block content %}
    <h2>Login</h2>
    <p>Login as a User (use Student Code) or Organization (use Name).</p>
    <form action="{{ url_for('login') }}" method="post">
        <label for="identifier">Student Code or Organization Name:</label>
        <input type="text" id="identifier" name="identifier" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
{% endblock %} 