{% extends "base.html" %}

{% block content %}
<div class="container about-section">
    <div class="about-content">
        <p><strong>¿Qué es Parche Verde?</strong> <br>Es una plataforma digital que centraliza iniciativas sostenibles para que cada Uniandino pueda actuar de forma sencilla por el planeta. Más allá de su impacto local, este proyecto abre las puertas a nuevos horizontes de participación y sienta las bases para ser replicado en otras comunidades. Así, damos un primer paso hacia un futuro más consciente, colectivo e, inevitablemente, más feliz.</p>

        <p><strong>¿Cómo nace esta iniciativa?</strong> <br>Parche Verde nace como una respuesta a la desconexión entre el interés ambiental de la comunidad Uniandina y la falta de herramientas efectivas para actuar. A través de una metodología centrada en el usuario, desarrollamos una plataforma que facilita la participación sostenible, fomenta vínculos significativos y consolida una cultura ambiental colaborativa dentro de la universidad.</p>

        <p><strong>¿Qué se puede hacer y cómo empiezo en la plataforma?</strong> <br>"(insertar video)"</p>

    
        <p><strong>Contacto</strong> <br>parcheconsciencia.contacto@gmail.com
    </div>
</div>
{% endblock %}