<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if 'name' in session %}{{ session.name }} - {% endif %}Parche Verde Uniandes</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    {% block styles %}{% endblock %}
</head>
<body data-logged-in="{% if 'entity_type' in session %}true{% else %}false{% endif %}">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    <p class="message-text">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="background-container"></div>
    <nav>
    
        </div>
        <div class="nav-right">
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('about') }}">Acerca de nosotros</a>
            
            {% if 'entity_type' in session %}
                </span>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                <a href="{{ url_for('profile') }}">Mi perfil</a>
                <a href="{{ url_for('search_users') }}">Buscar usuarios</a>
                <a href="{{ url_for('view_events') }}">Eventos</a>
                <a href="{{ url_for('view_items') }}">Items</a>
                <a href="{{ url_for('search_orgs') }}">Buscar organizaciones</a>
                <a href="{{ url_for('view_map') }}">Mapa</a>
                {% if session.entity_type == 'user' %}
                    <!-- <a href="{{ url_for('add_item') }}" class="nav-button">Añadir Item</a> -->
                    <a href="{{ url_for('register_org') }}">Registrar Org</a>
                {% endif %}
                <!-- <a href="{{ url_for('create_event') }}" class="nav-button">Crear Evento</a> -->
            {% else %}
                <span class="user-info">No conectado</span>
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
                <a href="{{ url_for('register_user') }}">Registrar usuario</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>