# Run: pip install -r requirements.txt in the terminal to install all dependencies.
# Remember to use a virtual environment for installing dependencies.
bcrypt==4.3.0
Flask
psycopg2-binary
python-dotenv
Flask-SocketIO
Flask-Mail